@import url('https://fonts.googleapis.com/css2?family=Lato&Roboto&Open+Sans&display=swap');

        * {
            font-family: 'Lato', sans-serif;
        }

        .text-grey {
            color: #BDBDBD;
            font-family: 'Lato', sans-serif;
        }

        .text-grey-darken-2 {
            color: #616161;
            font-family: 'Lato', sans-serif;
        }

        .text-grey-darken-4 {
            color: #1b1d29;
            font-family: 'Lato', sans-serif;
        }

        .image {
            background-image: url('../images/MobileTrading.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: inherit;
            width: 100%;
            padding: 22% 13%;
        }

        .position-abs {
            position: absolute;
            z-index: 2;
        }

        .mx-6 {
            margin: 0 90px;
        }

        .container-xt {
            margin: 0 10%;
        }

        .text-icon {
            font-family: 'Lato', sans-serif;
            font-size: 11px;
        }

        .bg-grey {
            background-color: #EEEEEE;
        }

        .text-orange {
            color: #FF5722;
            font-family: 'Lato', sans-serif;
        }

        .divider {
            width: 1px;
            padding: 0.5px;
            height: 23vh;

            color: #1b1d29;
        }

        @media (min-width: 1024px) and  (max-width: 1037px) {
            .w-25 {
                width: 50% !important;
            }
        }

        @media (max-width: 1440px) {
            .w-25 {
                width: 30% !important;
            }
        }

        @media (min-width: 820px) and (max-width: 1019px) {
            .w-25 {
                width: 40% !important;
            }

            #navbarSupportedContent {
                display: none !important;
            }
        }

        @media (min-width: 890px) and (max-width: 987px) {
            .breakPoint{
                padding-bottom: 5%;
            }
        }

        @media (min-width: 895px) and (max-width: 891px) {
            .breakPoint{
                padding-bottom: 10%;
            }
        }

        @media (min-width: 730px) and (max-width: 896px) {
            .breakPoint{
                padding-bottom: 15%;
            }
        }

        @media (min-width: 680px) and (max-width: 821px) {
            .w-25 {
                width: 45% !important;
                margin-top: 25px;
            }

            #navbarSupportedContent {
                display: none !important;
            }
        }

        @media (min-width: 680px) and (max-width: 731px) {
            .breakPoint{
                padding-bottom: 20%;
            }
        }

        @media (min-width: 638px) and (max-width: 681px) {
            .w-25 {
                width: 50% !important;
                margin-top: 25px;
            }

            .breakPoint .carousel-inner{
                padding-bottom: 25%;
            }

            #navbarSupportedContent {
                display: none !important;
            }
        }

        @media (min-width: 589px) and (max-width: 639px) {


          .breakPoint .carousel-inner{
                display: none;
            }
            div.adding-sm-padding{
                padding-top: 85%;
            }

        }

        @media (min-width: 598px) and (max-width: 639px) {
            .w-25 {
                width: 85% !important;
                margin-top: 25px;
            }

            #navbarSupportedContent {
                display: none !important;
            }
        }

        @media (min-width: 575px) and (max-width: 599px) {
            .w-25 {
                width: 90% !important;
                margin-top: 25px;
            }

            #navbarSupportedContent {
                display: none !important;
            }
        }

        
        @media (min-width: 560px) and (max-width: 591px) {

          .breakPoint .carousel-inner{
                display: none;
            }
            div.adding-sm-padding{
                padding-top: 90%;
            }

        }

        @media (min-width: 503px) and (max-width: 559px) {

          .breakPoint .carousel-inner{
                display: none;
            }
            div.adding-sm-padding{
                padding-top: 100%;
            }

        }

        @media (min-width: 455px) and (max-width: 502px) {

          .breakPoint .carousel-inner{
                display: none;
            }
            div.adding-sm-padding{
                padding-top: 110%;
            }

        }

        @media (min-width: 427px) and (max-width: 454px) {

          .breakPoint .carousel-inner{
                display: none;
            }
            div.adding-sm-padding{
                padding-top: 120%;
            }

        }

        @media (min-width: 483px) and (max-width: 574px) {
            .w-25 {
                width: 95% !important;
                margin-top: 25px;
            }

            #navbarSupportedContent {
                display: none !important;
            }
        
        }
        @media (min-width: 426px) and (max-width: 484px) {
            .w-25 {
                width: 95% !important;
            }

            #navbarSupportedContent {
                display: none !important;
            }
        }

        @media (min-width: 73px) and (max-width: 425px){
            .w-25 {
                width: 100% !important;
            }

            #navbarSupportedContent {
                display: none !important;
            }

            .breakPoint .carousel-inner{
                display: none;
            }

            .position-abs {
                position: relative;
            }
            .container .navbar-brand{
                width: 50%;
            }
            .text-sm-center{
                text-align: center;
            }
        }

        .sidenav {
            background-color: gray;
            background-size: cover;
            display: block;
            padding: 40px;
            position: absolute;
            z-index: 1;
            width: 50%;

        }

        .sidenav.sidebar {
            background-color: white;
        }

        .bg-orange{
            background-color: #FF5722;
            color: #fff;

        }
        .bg-orange:hover{
            color: #fff;
            background-color: #e93802;
        }

        .btn.bg-orange {
            font-size: 14px;
            font-family: sans-serif !important;
            text-transform: capitalize;
        }