@import url('https://fonts.googleapis.com/css2?family=Lato&Roboto&Open+Sans&display=swap');

        * {
            font-family: 'Lato', sans-serif;
        }

        .text-grey {
            color: #BDBDBD;
            font-family: 'Lato', sans-serif;
        }

        .text-grey-darken-2 {
            color: #616161;
            font-family: 'Lato', sans-serif;
        }

        .text-grey-darken-4 {
            color: #1b1d29;
            font-family: 'Lato', sans-serif;
        }

        .image {
            background-image: url('assets/images/rally-bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: inherit;
            width: 100%;
            padding: 22% 13%;
        }

        .position-abs {
            position: absolute;
        }

        .mx-6 {
            margin: 0 90px;
        }

        .container-xt {
            margin: 0 20%;
        }

        .text-icon {
            font-family: 'Lato', sans-serif;
            font-size: 11px;
        }

        .bg-grey {
            background-color: #EEEEEE;
        }

        .text-orange {
            color: #FF5722;
            font-family: 'Lato', sans-serif;
        }

        .divider {
            width: 1px;
            padding: 0.5px;
            height: 23vh;

            color: #1b1d29;
        }

        @media (max-width: 1024px) {
            .w-25 {
                width: 50% !important;
            }

            .image {
                background-image: url('assets/images/rally-bg.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: inherit;
                width: 100%;
                padding: 28% 13%;
            }
        }

        @media (max-width: 768px) {
            .w-25 {
                width: 50% !important;
            }

            .image {
                background-image: url('assets/images/rally-bg.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: inherit;
                width: 100%;
                padding: 37% 13%;
            }

            #navbarSupportedContent {
                display: none !important;
            }
        }

        @media (max-width: 425px) {
            .w-25 {
                width: 100% !important;
            }

            .image {
                background-image: url('assets/images/rally-bg.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: inherit;
                width: 100%;
                padding: 37% 13%;
                display: none;
            }

            #navbarSupportedContent {
                display: none !important;
            }

            .position-abs {
                position: relative;
            }
            .container .navbar-brand{
                width: 50%;
            }
        }

        .sidenav {
            background-color: gray;
            background-size: cover;
            display: block;
            padding: 40px;
            position: absolute;
            z-index: 1;
            width: 50%;

        }

        .sidenav.sidebar {
            background-color: white;
        }